## `MOVIE RATING REDICTION WITH PYTHON`

## Introduction

### Project Overview

### Problem Statement

### Load the required libraries

In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
%matplotlib inline

### Load/Understand the Dataset

In [3]:
movie_data = pd.read_csv(r"C:\Users\wanji\Desktop\Data\archive (9)\IMDb Movies India.csv", encoding='ISO-8859-1')
movie_data

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),(2019),109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,(2021),90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,(2019),110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,(2010),105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali
...,...,...,...,...,...,...,...,...,...,...
15504,Zulm Ko Jala Doonga,(1988),NaN,Action,4.6,11,Mahendra Shah,Naseeruddin Shah,Sumeet Saigal,Suparna Anand
15505,Zulmi,(1999),129 min,"Action, Drama",4.5,655,Kuku Kohli,Akshay Kumar,Twinkle Khanna,Aruna Irani
15506,Zulmi Raj,(2005),NaN,Action,NaN,NaN,Kiran Thej,Sangeeta Tiwari,NaN,NaN
15507,Zulmi Shikari,(1988),NaN,Action,NaN,NaN,NaN,NaN,NaN,NaN
15508,Zulm-O-Sitam,(1998),130 min,"Action, Drama",6.2,20,K.C. Bokadia,Dharmendra,Jaya Prada,Arjun Sarja

####  Understanding the dataset: 
* `Dataset Info`
* `Shape`
* `Columns,Columns names and data types`

In [4]:
# Function to know the info of the datasets
def create_dataset_info(dataset):
    if isinstance(dataset, pd.DataFrame):
        info = dataset.info()
        return info
    else:
        return "Invalid dataset type. Please provide a Pandas DataFrame."
# Assuming you have a dataset named 'sales_data'
dataset_info = create_dataset_info(movie_data)
print(dataset_info)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15509 entries, 0 to 15508
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      15509 non-null  object
 1   Year      14981 non-null  object
 2   Duration  7240 non-null   object
 3   Genre     13632 non-null  object
 4   Rating    7919 non-null   float64
 5   Votes     7920 non-null   object
 6   Director  14984 non-null  object
 7   Actor 1   13892 non-null  object
 8   Actor 2   13125 non-null  object
 9   Actor 3   12365 non-null  object
dtypes: float64(1), object(9)
memory usage: 1.2+ MB
None

In [5]:
# Function to know the shape 
def check_dataset_shape(dataset):
    if isinstance(dataset, np.ndarray):
        print("Dataset shape:", dataset.shape)
    elif isinstance(dataset, pd.DataFrame):
        print("Dataset shape:", dataset.shape)
    else:
        print("Invalid dataset type. Please provide a NumPy array or a Pandas DataFrame.")
        
check_dataset_shape(movie_data)

Dataset shape: (15509, 10)

The dataset contains 15509 rows and 10 columns

In [6]:
# Function to know statistics
def get_dataset_statistics_describe(dataset):

    dataset_describe = dataset.describe()
    print(dataset_describe)


# Call the function to get information about the dataset
get_dataset_statistics_describe(movie_data)

            Rating
count  7919.000000
mean      5.841621
std       1.381777
min       1.100000
25%       4.900000
50%       6.000000
75%       6.800000
max      10.000000

In [7]:
# Examine the columns in the dataset
movie_data.columns

Index(['Name', 'Year', 'Duration', 'Genre', 'Rating', 'Votes', 'Director',
       'Actor 1', 'Actor 2', 'Actor 3'],
      dtype='object')

## Data Cleaning

In [9]:
# Check for duplicates
def dataset_duplicated(dataset):
  
    dataset_duplicated = dataset.duplicated().sum()
    print(dataset_duplicated)


dataset_duplicated(movie_data)

6

In [10]:
# Drop the duplicates
def drop_duplicates(dataset):
    dataset.drop_duplicates(inplace = True)
    
drop_duplicates(movie_data)

In [12]:
# Confirm/check for duplictes
movie_data.duplicated().sum()

0

* There are no duplicates after dropping them

In [8]:
# Check the percentage of the missing values
def print_missing_values(movie_data):

    # Get columns with missing values
    columns_with_missing = movie_data.columns[movie_data.isnull().any()].tolist()

    # Calculate sum and percentage of missing values for each column
    missing_values_sum = movie_data[columns_with_missing].isnull().sum()
    missing_values_percentage = (missing_values_sum / len(movie_data)) * 100

    # Create a table with the missing values information
    missing_values_table = pd.DataFrame({
        'Column': columns_with_missing,
        'Missing Values': missing_values_sum,
        'Percentage': missing_values_percentage
    })

    # Print the table with column names and their respective missing values
    print(f"{'Column':<20} {'Missing Values':<15} {'Percentage':<15}")
    for _, row in missing_values_table.iterrows():
        print(f"{row['Column']:<20} {row['Missing Values']:<15} {row['Percentage']:<15.2f}")

print_missing_values(movie_data)

Column               Missing Values  Percentage
Year                 528             3.40
Duration             8269            53.32
Genre                1877            12.10
Rating               7590            48.94
Votes                7589            48.93
Director             525             3.39
Actor 1              1617            10.43
Actor 2              2384            15.37
Actor 3              3144            20.27

* The dataset shows there are some missing values(%).